* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

$mainBlack: #222;
$mainGreen: #709c35;
$mainWhite: rgb(235, 235, 235); 
$mainGray: #bdbdbd;
body{
    background: $mainWhite;
    color: $mainBlack;
    font-family: 'Roboto Condensed', sans-serif;

}


